@media screen and (max-width: 769px) and (max-height:700px)
{
    .heading {
        background-color: #4A5568;
        width: 40%;
        border-radius: 10px;
        margin: 16% 20% 0% 25%;
        text-align: center;
        padding: 1% 5% 6% 5%;
    }
}

@media screen and (max-width: 426px) and (max-height:700px)
{

    .heading {
        background-color: #4A5568;
        width: 85%;
        border-radius: 10px;
        margin: 20% 0% 0% 6%;
        text-align: center;
        padding: 8% 3% 14% 2%;
    }

.heading h1 {
    color: #F9E4B7;
    font-size: 35px;
}

.quiz h2 {
    color: #03e9f4;
    font-size: 20px;
    font-weight: 700;
}


.btn {
    width: 70%;
    padding: 2%;
    font-size: 15px;
   
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3%;
}

#next_btn {
    width: 24%;
    padding: 1%;
    box-shadow: 0 0 10px rgba(3, 233, 244, 0.2);
    border: none;
    background-color: #2C3848;
    border-radius: 30px;
    border: 2px solid #03e9f4;
    margin-top: 5%;
    color: #03e9f4;
    display: none;
    font-size: 13px;
    font-weight: 600;
}

.bt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -4%;
}
}


@media screen and (max-width: 376px) and (max-height: 700px)
{
    .heading {
        background-color: #4A5568;
        width: 85%;
        border-radius: 10px;
        margin: 20% 0% 0% 6%;
        text-align: center;
        padding: 8% 3% 14% 2%;
    }

.heading h1 {
    color: #F9E4B7;
    font-size: 35px;
}

.quiz h2 {
    color: #03e9f4;
    font-size: 20px;
    font-weight: 700;
}


.btn {
    width: 70%;
    padding: 2%;
    font-size: 15px;
   
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3%;
}

#next_btn {
    width: 24%;
    padding: 1%;
    box-shadow: 0 0 10px rgba(3, 233, 244, 0.2);
    border: none;
    background-color: #2C3848;
    border-radius: 30px;
    border: 2px solid #03e9f4;
    margin-top: 5%;
    color: #03e9f4;
    display: none;
    font-size: 13px;
    font-weight: 600;
}

.bt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -4%;
}


}
